--- 
layout: default 
---

<div class="tile">
    <h1 class="page-title">
        Hi, I'm
        <a href="#">{{ site.title }}</a>
        <span>&#x1F44B</span>
    </h1>
    <figure class="full-bleed">
        <img style src="/profile.png">
    </figure>

    <table style="margin: 0 auto; font-size: 1.1em; padding: .5em; padding-top: 0;">
            <tr>
                <td>
                    Software Engineer @
                    <span style="color:#0033A0;font-weight:bold;font-family: Optima, 'Helvetica Neue', Arial, 'Open Sans', 'Source Sans Pro'">CERN</span>
                </td>
            </tr>
    </table>
   
    <hr />
    
    <div class="contacts">
        <table>
            <tr>
                <td>&#x1F4E7</td>
                <td>
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </td>
            </tr>

            {%- if site.github_username -%}
            <tr>
                <td style="text-align: center">
                    <svg class="svg-icon github-logo"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
                </td>
                <td>
                    <a rel="me" href="https://github.com/{{ site.github_username | cgi_escape | escape }}" title="{{ social.github | escape }}">
                        <span class="bold">GitHub</span>
                    </a>
                </td>
            </tr>
            {%- endif -%}

            {%- if site.linkedin_username -%}
            <tr>
                <td style="text-align: center">
                    <svg class="svg-icon linkedin-logo"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg>
                </td>
                <td>
                    <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">
                        <span class="bold">LinkedIn</span>
                    </a>
                </td>
            </tr>
            {%- endif -%}
            
        </table>
    </div>

    <p class="page-title">Posts</p>

    {%- if site.posts.size > 0 -%} 
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%} 
        
        {%- for post in site.posts reversed -%}
            <a href="{{ post.url | relative_url }}" class="left-text full-bleed list-item first">
                <p class="title">{{ post.title | escape }}</p>
                {%- for tag in post.tags -%}
                    <span class="category">{{tag}}</span>
                {%- endfor -%}
                </span>

                <p class="sub-title">{{ post.date | date: date_format }}</p>
            </a>
        {%- endfor -%} 
    {%- endif -%}

</div>