--- 
layout: default 
---

<div class="tile blog-content">
    <h1 class="page-title">{{ page.title | escape }}</h1>
    {%- for tag in page.tags -%}
        <span class="category">{{tag}}</span>
    {%- endfor -%}

    <p class="sub-title">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
        </time>
    </p>
    
    <hr /> 
    
    {{ content }}
</div>

<div class="backbutton">
 <a href="{{ site.url }}">
    <div class=goback>
       &#60; Back Home
    </div>
    </a>
</div>